.pageAboutUs {
    .aboutUsCover {
        padding: 30px 0;
        background: url(../images/wp/about-us-bg.png) no-repeat center center;
        background-size: cover;
        text-align: center;

        h1 {
            margin-bottom: 10px;
            color: #374559;
            font-size: 36px;
            font-weight: 400;

            @media (min-width: 768px) {
                font-size: 48px;
            }
        }

        p {
            margin: 0;
            color: #374559;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.3;

            @media (min-width: 768px) {
                font-size: 20px;
            }
        }

        @media (min-width: 768px) {
            padding: 60px 0;
        }
    }

    .aboutUsWhyChoose {
        padding: 50px 0;
        background-color: #eff2f7;

        .container {
            @media (min-width: 768px) {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        .aboutUsWhyChooseIntro {
            .aboutUsWhyChooseIntroPageTitle {
                max-width: 320px;
                position: relative;

                h2 {
                    margin: 0;
                    color: #374559;
                    padding-left: 20px;
                    font-size: 34px;
                    font-weight: 400;

                    @media (min-width: 1200px) {
                        font-size: 48px;
                    }
                }

                .append {
                    position: absolute;
                    max-width: 40px;

                    &:first-child {
                        margin-right: 20px;
                        left: 0;
                        top: -20px;
                        right: 0;
                        transform: translate(0, 0);
                    }
                }

                @media (min-width: 1200px) {
                    max-width: 450px;
                }
            }

            h3 {
                color: #374559;
                font-size: 28px;
                font-weight: 400;
            }

            p {
                color: #374559;
                font-size: 18px;
                font-weight: 400;
            }

            @media (min-width: 768px) {
                width: 48%;
            }
        }

        .aboutUsWhyChooseText {
            color: #374559;
            font-size: 18px;
            font-weight: 400;

            p {
                color: #374559;
                font-size: 28px;
                font-weight: 400;
            }

            ul {
                list-style: none;
                padding: 0;
                color: #374559;
                font-size: 18px;
                font-weight: 400;

                li {
                    margin-bottom: 10px;

                    &:before {
                        display: inline-block;
                        margin-right: 10px;
                        border-radius: 100%;
                        content: "";
                        width: 8px;
                        height: 8px;
                        background: red;
                    }
                }
            }

            @media (min-width: 768px) {
                width: 48%;
            }
        }

        @media (min-width: 768px) {
            padding: 100px 0;
        }
    }

    .certified {
        position: relative;
        padding: 30px 0;

        &:before {
            display: none;
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50px;
            background-color: #fff;

            @media (min-width: 768px) {
                display: block;
            }
        }

        .certifiedReasons {
            position: relative;
            z-index: 2;
            float: none;
        }

        @media (min-width: 768px) {
            display: block;
        }

        @media (min-width: 768px) {
            padding: 0;
        }
    }

    .founderWords {
        position: relative;

        .founderWordsBox {
            position: relative;
            z-index: 1;
            top: 30px;
            padding: 35px 25px;
            margin: 0 20px;
            box-shadow: 5px 5px 12px 4px rgba(40, 40, 40, 0.05);
            border-radius: 6px;
            background-color: #fffeff;

            p {
                color: #374559;
                font-size: 24px;
                font-weight: 400;
                line-height: 1;

                @media (min-width: 1200px) {
                    font-size: 32px;
                }

                @media (min-width: 1400px) {
                    font-size: 48px;
                }
            }

            .founderName {
                color: #374559;
                font-size: 18px;
                font-weight: 400;

                span {
                    font-size: 20px;
                }
            }

            @media (min-width: 768px) {
                top: 0;
                max-width: 60%;
                margin-left: auto;
            }

            @media (min-width: 1200px) {
                top: 0;
                max-width: 30%;
                margin: auto;
            }
        }

        .founderWordsImage {
            width: 100%;

            img {
                width: 100%;
            }

            @media (min-width: 768px) {
                width: 60%;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 0;
            }

            @media (min-width: 1025px) {
                width: 50%;
            }
        }

        @media (min-width: 768px) {
            padding: 100px 0;
        }
    }

    .homeCtaPageTitle {
        max-width: 320px;
        margin: auto;
        position: relative;

        h3 {
            margin: 0;
            text-align: center;
            color: #374559;
            font-size: 30px;
            font-weight: 400;

            @media (min-width: 1200px) {
                font-size: 48px;
            }
        }

        .append {
            position: absolute;
            max-width: 40px;

            &:first-child {
                margin-right: 20px;
                left: 0;
                top: -20px;
                right: 0;
                transform: translate(-30px, 0);
            }

            &:last-child {
                bottom: -20px;
                right: 0;
                transform: scale(-1);
                margin-left: 20px;
                transform: scale(-1);

                @media (min-width: 768px) {
                    transform: scale(-1) translate(-30px, 0);
                }
            }
        }

        @media (min-width: 1200px) {
            max-width: 50%;
            margin: 0;
            margin-right: 80px;
        }
    }

    .certifiedLogos {
        padding: 50px 0;

        .row {
            margin: 20px;

            h2 {
                max-width: 400px;
                color: #374559;
                font-size: 32px;
                font-weight: 400;

                @media (min-width: 768px) {
                    width: 48%;
                    font-size: 42px;
                }

                @media (min-width: 1200px) {
                    font-size: 48px;
                }
            }

            p {
                font-size: 18px;

                @media (min-width: 768px) {
                    width: 48%;
                }
            }

            &:last-child {
                text-align: center;

                img {
                    margin: 20px;
                    width: calc(50% - 40px);
                    @media (min-width: 768px) {
                        width: calc(20% - 40px);
                    }
                }

                @media (min-width: 768px) {
                    justify-content: center;
                }
            }

            @media (min-width: 768px) {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
            }
        }

        @media (min-width: 768px) {
            padding: 80px 0;
        }
    }

    .ourTeam {
        padding: 50px 0;
        background-color: #eff2f7;
        text-align: center;

        .ourTeamPageTitle {
            max-width: 320px;
            margin: auto;
            position: relative;

            h3 {
                margin: 0;
                text-align: center;
                color: #374559;
                font-size: 30px;
                font-weight: 400;

                @media (min-width: 1200px) {
                    font-size: 48px;
                }
            }

            .append {
                position: absolute;
                max-width: 40px;

                &:first-child {
                    margin-right: 20px;
                    left: 0;
                    top: -20px;
                    right: 0;
                    transform: translate(0, 0);
                }

                &:last-child {
                    bottom: -20px;
                    right: 0;
                    transform: scale(-1);
                    margin-left: 20px;
                    transform: scale(-1);

                    @media (min-width: 768px) {
                        transform: scale(-1) translate(0, 0);
                    }
                }
            }

            @media (min-width: 1200px) {
                max-width: 50%;
            }
        }

        .ourTeamBoxes {
            padding-top: 80px;

            .ourTeamBoxesProfile {
                position: relative;
                margin: 30px 0;

                .ourTeamBoxesProfileImage {
                    position: absolute;

                    @media (max-width: 767px) {
                        width: 60%;
                        margin: auto;
                        top: 0;
                        right: 0;
                        left: 0;
                        transform: translate(0, -50%);
                    }

                    @media (min-width: 768px) {
                        top: 0;
                        //bottom: 0;
                        left: 0;
                        width: 40%;
                        transform: translate(-50%, 25%);
                    }
                }

                .ourTeamBoxesProfileCopy {
                    height: 100%;
                    padding: 30px;
                    border-radius: 6px;
                    text-align: left;
                    background-color: #1d3966;
                    color: #fffeff;
                    font-size: 14px;
                    font-weight: 400;

                    h4 {
                        margin: 0;
                        margin-bottom: 15px;
                        font-size: 27px;
                        font-weight: 500;

                        span {
                            font-size: 18px;
                            font-weight: 400;
                        }
                    }

                    @media (min-width: 768px) {
                        //width: 100%;
                        width: 100%;
                    }
                }

                @media (min-width: 768px) {
                    width: 37%;
                }
            }

            @media (min-width: 768px) {
                padding-top: 100px;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                align-items: stretch;
            }
        }

        @media (min-width: 768px) {
            padding: 80px 0;
        }
    }
}
